extends layout

block content
  h1= title
  div(class="header")
   img(src= picture, width="50", height="50")
  div(class="content")
   iframe(width="1024", height="920", src= tabServerUrl, frameborder="0", allowfullscreen)

